df-ulhetl-dev-001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-ulhetl-dev-001"
		},
		"AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
		},
		"AzureDataLakeStorageTest_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageTest'"
		},
		"LS_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS'"
		},
		"LS_ADLS_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_RAW'"
		},
		"LS_ADLS_Sink_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_Sink'"
		},
		"LS_ADLS_Source_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_Source'"
		},
		"LS_CSV_TO_PARQUET_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CSV_TO_PARQUET'"
		},
		"LS_SFTP_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SFTP_ADLS'"
		},
		"LS_SF_Raw_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SF_Raw'"
		},
		"LS_SINK_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SINK_ADLS'"
		},
		"LS_SRC_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SRC_ADLS'"
		},
		"LS_Snowflake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Snowflake'"
		},
		"LS_Snowflake_Raw_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Snowflake_Raw'"
		},
		"LS_Snowflake_Upperline_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Snowflake_Upperline'"
		},
		"ls_blob_stulhetldev001_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_stulhetldev001'"
		},
		"AzureDataLakeStorageTest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_ADLS_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_ADLS_Sink_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_ADLS_Source_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_BLOB_STAGE_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_BLOB_STAGE'"
		},
		"LS_CSV_TO_PARQUET_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_SFTP_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ulhsftpstorage.dfs.core.windows.net/"
		},
		"LS_SF_Raw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_SINK_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_SRC_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ulhsftpstorage.dfs.core.windows.net/"
		},
		"LS_Snowflake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stulhetldev001.dfs.core.windows.net/"
		},
		"LS_Snowflake_Raw_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "UPPERLINE"
		},
		"LS_Snowflake_Raw_properties_typeProperties_role": {
			"type": "string",
			"defaultValue": "ACCOUNTADMIN"
		},
		"LS_Snowflake_Upperline_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "UPPERLINE"
		},
		"LS_Snowflake_Upperline_properties_typeProperties_role": {
			"type": "string",
			"defaultValue": "ACCOUNTADMIN"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageTest_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageTest_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ADLS Linked Service",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Sink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Sink_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_Sink_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Source_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_Source_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BLOB_STAGE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_BLOB_STAGE_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSV_TO_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CSV_TO_PARQUET_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CSV_TO_PARQUET_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SFTP_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for the SFTP ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SFTP_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SFTP_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SF_Raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "snowflake raw stage connection",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SF_Raw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SF_Raw_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SINK_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SINK_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SINK_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SRC_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SRC_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SRC_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "snowflake raw stage",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Snowflake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Snowflake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Snowflake_Raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "test",
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "FFA59799",
					"user": "JAN-MICHAEL.LUIS@UPPERLINEHEALTH.COM",
					"database": "[parameters('LS_Snowflake_Raw_properties_typeProperties_database')]",
					"warehouse": "Engineering_wh",
					"role": "[parameters('LS_Snowflake_Raw_properties_typeProperties_role')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Snowflake_Raw_password')]"
					}
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Snowflake_Upperline')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "FFA59799",
					"user": "JAN-MICHAEL.LUIS@UPPERLINEHEALTH.COM",
					"database": "[parameters('LS_Snowflake_Upperline_properties_typeProperties_database')]",
					"warehouse": "Engineering_wh",
					"role": "[parameters('LS_Snowflake_Upperline_properties_typeProperties_role')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Snowflake_Upperline_password')]"
					}
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_stulhetldev001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_stulhetldev001_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Sink_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Sink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Source_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/archive_inbound_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_File",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(pipeline().parameters.files)",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "If_Success_Or_Error",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(toUpper(item().status), 'SUCCESS')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy_To_Error",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 2,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": false
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_ADLS_Source_Binary",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.source_container",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.source_directory",
																"type": "Expression"
															},
															"filename": {
																"value": "@item().file_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Sink_Binary",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.error_container",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.error_directory",
																"type": "Expression"
															},
															"filename": {
																"value": "@concat(substring(item().file_name, 0, lastIndexOf(item().file_name, '.')), '_PRI_', pipeline().parameters.parent_run_id, substring(item().file_name, lastIndexOf(item().file_name, '.'), sub(length(item().file_name), lastIndexOf(item().file_name, '.'))))",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Source_After_Error",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copy_To_Error",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 2,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_ADLS_Source_Binary",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.source_container",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.source_directory",
																"type": "Expression"
															},
															"filename": {
																"value": "@item().file_name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy_To_Archive",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 2,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": false
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_ADLS_Source_Binary",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.source_container",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.source_directory",
																"type": "Expression"
															},
															"filename": {
																"value": "@item().file_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Sink_Binary",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.archive_container",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.archive_directory",
																"type": "Expression"
															},
															"filename": {
																"value": "@item().file_name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Source_After_Archive",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copy_To_Archive",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 2,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_ADLS_Source_Binary",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.source_container",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.source_directory",
																"type": "Expression"
															},
															"filename": {
																"value": "@item().file_name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"practice": {
						"type": "string"
					},
					"file_type": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"parent_run_id": {
						"type": "string"
					},
					"source_container": {
						"type": "string"
					},
					"source_directory": {
						"type": "string"
					},
					"archive_container": {
						"type": "string"
					},
					"archive_directory": {
						"type": "string"
					},
					"error_container": {
						"type": "string"
					},
					"error_directory": {
						"type": "string"
					},
					"files": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Source_Binary')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Sink_Binary')]"
			]
		}
	]
}